html,body{
    margin-top: 150px;
    background-color:white;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#2E3192,#1BFFFF);
}
footer p{
    margin-top: 10px;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    color: white;
}
#marginIMG{
    margin: 10px;
}
#marging-top-10px{
    margin-top: 10px;
}
.errors{
    color: red;
}
#errors{
    color: red;
}